# MIT License Copyright (c) 2021, h1zzz

---
Language: Cpp
AlignConsecutiveBitFields: AcrossEmptyLinesAndComments
AlignConsecutiveMacros: Consecutive
AlignEscapedNewlines: Left
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: Yes
BreakBeforeBraces: WebKit
FixNamespaceComments: false
IndentWidth: 4
UseTab: Never
ColumnLimit: 80
AccessModifierOffset: -4
SortIncludes: false
IndentPPDirectives: AfterHash
ForEachMacros:
